/**
* Authenticate
**/

.authenticate .modal {
  width: 700px;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  padding-bottom: 60px;
}

/**
* Modal header
**/

.authenticate .modal .header .brand {
  width: 492px;
}

.authenticate .modal .header .middle {
  width: 90px;
}

/**
* Modal body
**/

.authenticate .modal .body h1 {
  text-align: center;
  margin-bottom: 15px;
}

.authenticate .modal input {
  height: 35px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 1em;
  margin: 8px 0;
  border: none;
  background: #efefef;
  border-radius: 4px;
}

.authenticate .modal .half-width {
  box-sizing: border-box;
  width: 217px;
  text-align: left;
}

.authenticate .modal .half-width.left {
  margin-right: 15px;
}

.authenticate .modal .full-width {
  display: inline-block;
  margin-left: 15%;
  width: 70%;
  box-sizing: border-box;
}

.authenticate .modal .modal-button-container {
  text-align: center;
  margin-top: 10px;
}

.authenticate .modal .modal-button {
  background: #EDA138;
  padding: 8px 40px;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
  display: inline-block;
  margin-top: 10px;
}

/**
* Sign up
**/

.authenticate .modal .checkbox {
  vertical-align: top;
}

.authenticate .modal .text {
  display: inline-block;
  width: 90%;
  margin: 14px;
  vertical-align: top;
}

/**
* Sign in
**/

.authenticate .forgot-password-button {
  text-align: right;
  margin-right: 15%;
  cursor: pointer;
  color: #999;
  font-size: .9em;
}

/**
* Body text
**/

.authenticate .body-text {
  margin: 25px 0 10px;
}

/**
* Messages
**/

.authenticate .message {
  font-weight: 600;
  padding: 20px 20px 0;
  text-align: center;
}

@media(max-width: 900px) {
  .authenticate .modal {
    width: 80%;
    left: 10%;
    margin-left: 0;
    transform: none;
  }

  .authenticate .close-text.modal-header-text * {
    margin-left: -100px;
  }

  .authenticate .forgot-password-button {
    text-align: center;
    margin-right: 0px;
    cursor: pointer;
    color: #999;
    font-size: .9em;
  }
}
