/**
* Building gallery
**/

.building-gallery {
  width: 100%;
  height: 100%;
}

/**
* Building image pagination buttons
**/

.building .image-index-button {
  width: 70px;
  height: 70px;
  background: rgba(0,0,0,0.5);
  position: absolute;
  top: 50%;
  margin-top: -35px;
  background-image: url('/assets/images/caret-white.png');
  background-size: 90px;
  background-repeat: no-repeat;
  background-position: 60% 35%;
  cursor: pointer;
  /*display: none;*/
}

.building .image-index-button.decrement {
  left: 0px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.building .image-index-button.increment {
  right: 0px;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}

.building .image-caption {
  position: absolute;
  bottom: 0;
  background: rgba(0,0,0,0.5);
  color: #eee;
  padding: 22px;
  font-size: 14px;
  letter-spacing: .25px;
  width: 100%;
  box-sizing: border-box;
  display: none;
  z-index: 1;
}

.building .top .background-image:hover .image-index-button,
.building .top .background-image:hover .image-caption {
  display: block;
}

.building .expand-image-icon-container {
  width: 50px;
  height: 44px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  z-index: 0;
}

.building .expand-image-icon {
  width: 30px;
  margin: 7px 10px;
  transform: rotate(90deg);
}

@media(max-width: 700px) {
  .building .top .building-gallery .background-image .image-caption {
    display: none;
  }
}

/**
* Building Contributed Media: Review Panel
**/

.review-contribution {
  border: 2px solid #e4e4e4;
  border-radius: 10%;
  width: 33%;
  height: 63%;
  left: -36%;
  position: absolute;
  max-height: 72%;
  color: #444;
  background: #efefef;
}

.review-contribution .row {
  border-bottom: 1px solid #ddd;
  width: 100%;
}

.review-contribution .title {
  display: inline-block;
  font-weight: 800;
  padding: 8px 8px 8px 18px;
}

.review-contribution .button-accept-active {
  align-items: center;
  padding: 10px;
  border-radius: 6px;
  letter-spacing: .25px;
  cursor: pointer;
  width: 120px;
  margin: 14px 0 0 68px;
  text-align: center;
  background: #4BA845;
  font-weight: 500;
  color: #fff;
}

.review-contribution .button-accept-unactive {
  align-items: center;
  padding: 10px;
  border-radius: 6px;
  letter-spacing: .25px;
  width: 120px;
  margin: 14px 0 0 68px;
  text-align: center;
  background: #88A886;
  font-weight: 500;
  color: #fff;
}

.review-contribution .button-reject-active {
  align-items: center;
  padding: 10px;
  border-radius: 6px;
  letter-spacing: .25px;
  cursor: pointer;
  width: 120px;
  margin: 14px 0 14px 68px;
  text-align: center;
  background: #E25046;
  font-weight: 500;
  color: #fff;
}

.review-contribution .button-reject-unactive {
  align-items: center;
  padding: 10px;
  border-radius: 6px;
  letter-spacing: .25px;
  width: 120px;
  margin: 14px 0 14px 68px;
  text-align: center;
  background: #E2B8B5;
  font-weight: 500;
  color: #fff;
}
