/**
* Building suggest edit
**/

.building .suggest-edit {
  padding-bottom: 20px;
  font-size: 14px;
  color: #888;
}

.building .suggest-edit a {
  display: inline-block;
  padding: 8px 21px;
  background: #EDA138;
  color: #fff;
  border-radius: 6px;
  margin: 22px 0 17px;
  font-weight: 500;
  letter-spacing: .25px;
}

.building .suggest-edit div {
  margin: 0 30px;
}