/**
* Building table
**/

.building-table {
  width: 100%;
  word-break: break-word;
  margin-bottom: 30px;
}

.building-table .table-label {
  display: inline-block;
  font-weight: 800;
}

.building-table tr {
  height: 20px;
}

.building-table td {
  width: 50%;
  padding: 0px !important;
  height: 20px;
  vertical-align: top;
}

@media(max-width: 1150px) {
  .building-table td {
    display: block;
    width: 100%;
    height: auto;
  }
}