/**
* Building text
**/

.building-text {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  border: 20px solid #eee;
  font-size: 15px;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 1.5em;
}

.building-text h1 {
  margin: 20px 0 10px;
  text-transform: uppercase;
}

.building-text h2 {
  margin: 20px 0 7px;
  font-family: 'almaq-rough';
  text-transform: uppercase;
  font-size: 1.25em;
}

.wf-loading .building-text h2 {
  opacity: 0;
}

@media(max-width: 1150px) {
  .building-text {
    border: none;
  }
}

/**
* Building Discussion Forum
**/

.building-text .forum-header {
  width: 100%;
  border-bottom: 1px solid #9a9a9a;
  padding-bottom: 8px;
  background: #ccc;
}

.building-text .title {
  display: inline-block;
  margin: 20px 0 7px 8px;
  font-family: 'almaq-rough';
  text-transform: uppercase;
  font-size: 1.45em;
}

.building-text .comment-button {
  display: inline-block;
  padding: 8px 21px;
  background: #9a9a9a;
  color: #fff;
  border-radius: 6px;
  margin: 8px 8px 1px;
  font-weight: 500;
  letter-spacing: .25px;
  float: right;
  cursor: pointer;
}

.building-text .comment-row {
  border-bottom: 1px solid #9a9a9a;
  margin-top: 8px;
  padding-bottom: 8px;
}

.building-text .contact {
  font-size: 13px;
  font-weight: 500;
  color: #888;
  margin-left: 8px;
}

.building-text .contact .name {
  display: inline-block;
}

.building-text .contact .details {
  display: inline-block;
  padding-left: 12px;
}

.building-text .content {
  margin: 0 8px 0 8px;
}