.building {
  position: absolute;
  top: 80px;
  right: 0px;
  bottom: 80px;
  left: 0px;
  width: 100%;
  height: auto;
  text-align: center;
  overflow-y: scroll;
}

.building .building-content {
  width: 100%;
  min-height: 1000px;
  position: relative;
  text-align: left;
  display: inline-block;
  max-width: 1100px;
}

/**
* Top
**/

.building .top {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 220px;
  left: 0px;
  background: #ccc;
  height: 770px;
}

/**
* Top left
**/

.building .top .left {
  width: 40%;
  display: inline-block;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 0 10px;
  box-sizing: border-box;
}

.building .top .left-content {
  height: 100%;
  width: 100%;
  border: 1px solid #ddd;
  overflow: hidden;
}

.building .top .left .top-left-top {
  height: 50%;
  width: 100%;
  position: relative;
}

.building .top .left .top-left-bottom {
  height: 50%;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

/**
* Button to toggle layout
**/

.building .building-layout-toggle {
  background: #ddd;
  height: 30px;
  margin: 15px 0 10px;
  display: inline-block;
  text-align: left;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.building .building-layout-toggle .layout-option {
  display: inline-block;
  padding: 4px 20px;
  border-radius: 9px;
  cursor: pointer;
}

.building .building-layout-toggle .layout-option.active {
  background: #fff;
}

/**
* Top right
**/

.building .top .right {
  width: 60%;
  height: 100%;
  display: inline-block;
  background: #eee;
  position: absolute;
  top: 0;
  right: 0;
}

.building .top .right .top-right-top {
  height: 50%;
  width: 100%;
  background: #aaa;
  position: absolute;
  top: 0;
}

.building .top .right .top-right-bottom {
  height: 50%;
  width: 100%;
  background: #eee;
  position: absolute;
  bottom: 0;
}

/**
* Bottom
**/

.building .bottom {
  height: 260px;
  position: absolute;
  top: 780px;
  right: 0px;
  left: 0px;
}

.building .bottom .label {
  font-size: 1.3em;
  font-family: Tinos;
  margin: 10px;
}

/**
* Building image pagination buttons
**/

.building .image-index-button {
  width: 70px;
  height: 70px;
  background: rgba(0,0,0,0.5);
  position: absolute;
  top: 50%;
  margin-top: -35px;
  background-image: url('/assets/images/caret-white.png');
  background-size: 90px;
  background-repeat: no-repeat;
  background-position: 60% 35%;
  cursor: pointer;
  display: none;
}

.building .top .background-image:hover .image-index-button {
  display: block;
}

.building .image-index-button.decrement {
  left: 0px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.building .image-index-button.increment {
  right: 0px;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}

.building .image-caption {
  position: absolute;
  bottom: 0;
  background: rgba(0,0,0,0.65);
  color: #fff;
  padding: 22px;
  font-size: 18px;
  width: 100%;
  box-sizing: border-box;
}
