.building-text {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  border: 20px solid #eee;
  word-break: break-all;
  font-size: 15px;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 1.5em;
}

.building-text h1 {
  margin: 20px 0 10px;
  word-break: break-word;
}

.building-text h2 {
  margin: 20px 0 7px;
  font-family: SonderSans;
  font-size: 1.25em;
}

@media(max-width: 1150px) {
  .building-text {
    border: none;
  }
}