.building-buttons {
  width: 100%;
  overflow: hidden;
  font-weight: 600;
}

.building-button {
  display: block;
  height: 45px;
  width: 100%;
  border-top: 1px solid #ddd;
  cursor: pointer;
  text-align: center;
  overflow: hidden;
  color: #777;
  fill: #777;
}

.building-button:hover {
  color: #EDA138;
  fill: #EDA138;
}

.building-buttons .building-button:nth-child(4) {
  border-bottom: 1px solid #ddd;
}

.building-button-content {
  width: 180px;
  display: inline-block;
  text-align: left;
}

.building-button .building-button-icon {
  width: 16px;
  margin: 16px 8px 0 0;
  display: inline-block;
}

.building-button .label {
  display: inline-block;
  vertical-align: top;
  margin-top: 12px;
}