/**
* Cards
**/

.cards {
  background: #eee;
  height: 100%;
  overflow-y: auto;
  padding: 30px;
  display: inline-block;
  box-sizing: border-box;
}

.card-content {
  width: 100%;
  padding-bottom: 66%;
  position: relative;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.card-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/**
* Search result cards
**/

.search .card {
  width: 100%;
  display: inline-block;
  padding: 5px;
  box-sizing: border-box;
}

/**
* Search result cards hover
**/

.search .card:hover .card-content {
  outline: 3px solid #eda138;
}

.search .card:hover .card-name {
  color: #000;
}

.search .card:hover .card-details {
  color: #666;
}

/**
* Related buildings cards
**/

.related .card {
  width: 255px;
  height: auto;
  display: inline-block;
  box-sizing: border-box;
  height: 100%;
  padding-top: 3px;
  padding-bottom: 12px;
}

/**
* Card labels
**/

.card-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #fff;
  padding: 4px 8px;
  box-sizing: border-box;
  overflow: hidden;
  height: 45px;
  line-height: 1.2em;
}

.card-name {
  font-weight: 500;
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
  color: #4f6077;
}

.card-details {
  font-size: 0.75em;
  font-weight: 400;
  color: #999;
}

/**
* Mobile search cards
**/

@media (max-width: 1150px) and (min-width: 600px) {
  .search .card {
    width: 50%;
  }
}

@media (max-width: 600px) {
  .search .card {
    width: 100%;
    border: none;
  }
}

@media (max-width: 1150px) {
  .cards {
    padding: 0;
  }

  .search .card-content {
    border: none;
    padding-bottom: 75%;
  }

  .search .card-text {
    padding: 10px;
    height: 65px;
    font-size: 1.3em;
  }
}
