/***
* Filters
***/

.filters {
  height: 60px;
  width: 100%;
  position: relative;
}

.filters .button {
  margin: 15px 50px;
}

.filters .input-container {
  display: inline-block;
  position: relative;
}

.filters .search-icon {
  background-image: url(/assets/images/search-icon.png);
  background-repeat: no-repeat;
  background-position: 95% 7px;
  background-size: 20px;
  display: inline-block;
  position: absolute;
  right: 8px;
  height: 27px;
  width: 27px;
  opacity: 0.6;
}

.filters input {
  width: 200px;
  border: 1px solid #ddd;
  padding: 8px;
  box-sizing: border-box;
  font-size: 1em;
}

.filters .select-container {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

.filters .select-container select {
  height: 100%;
  padding: 0px 25px 0 14px;
  width: auto;
  background-color: #fff;
  background-image: url(/assets/images/caret.png);
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: 93%;
  border-left: 1px solid lightgray;
  border-right: none;
  border-top: none;
  border-bottom: none;
  z-index: -1;
  color: #666;
  font-size: 0.8em;
  width: 100px;
}