/**
* Filters
**/

.filters {
  height: 60px;
  width: 100%;
  position: fixed;
  top: 80px;
  background: #fff;
  z-index: 1;
}

.filters .button {
  margin: 15px 50px;
}

.filters .input-container {
  display: inline-block;
  position: relative;
  top: 12px;
  left: 36px;
}

.filters .search-icon {
  background-image: url(/assets/images/search-icon.png);
  background-repeat: no-repeat;
  background-position: 56% 7px;
  background-size: 20px;
  display: inline-block;
  position: absolute;
  right: 1px;
  height: 36px;
  width: 34px;
  opacity: 0.6;
  top: 0px;
  cursor: pointer;
}

.filters .building-search {
  width: 200px;
  border: 1px solid #ddd;
  padding: 8px 30px 8px 8px;
  box-sizing: border-box;
  font-size: 1em;
}

.filters .select-container {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

/**
* Filter selects
**/

.filters .multiselect,
.filters .sortby {
  height: 100%;
  min-width: 110px;
  max-width: 130px;
  float: left;
}

.filters .multiselect .custom-select,
.filters .sortby {
  padding-left: 10px;
}

.filters .multiselect .select-box,
.filters .sortby {
  height: 100%;
  width: 100%;
  background-color: #fff;
  background-image: url(/assets/images/caret.png);
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: 93%;
  border-left: 1px solid lightgray;
  border-right: none;
  border-top: none;
  border-bottom: none;
  z-index: -1;
  color: #666;
  font-size: 11px;
  display: inline-block;
}

.filters .sortby {
  width: 120px;
  margin-left: 1px;
}

.filters .multiselect select {
  height: 100%;
  width: 100%;
  border: none;
}

.filters .multiselect .multiselect:focus {
  outline: none;
}

.filters .multiselect.active .select-decoy {
  border-bottom: 1px solid #fff;
}

.filters .multiselect .select-checkboxes {
  top: 60px;
  max-height: 50vh;
}

.filters .multiselect.active .select-checkboxes {
  border: 1px solid lightgray;
}

.filters .multiselect input {
  margin: 4px 8px 4px 0px;
}

.filters .multiselect label {
  padding: 11px 11px 0;
}

.filters .multiselect label:last-child {
  padding-bottom: 10px;
}