/**
* Form elements
*  @extends: form
**/

.form {
  width: 100%;
  height: 100%;
  color: #666;
}

.form .label,
.form select,
.form input,
.form .quill {
  display: table-cell;
  height: 30px;
  margin: 6px 0;
}

.form .label,
.form h4 {
  width: 140px;
  min-width: 140px;
}

.form .label {
  vertical-align: middle;
  height: 45px;
}

.form input,
.form select {
  width: 100%;
  white-space: nowrap;
  word-break: normal;
}

.form input {
  border: none;
  background: #efefef;
  border-radius: 2px;
  padding: 0 10px;
  box-sizing: border-box;
  font-size: 0.9em;
}

.form textarea {
  background-color: #efefef;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  font-size: 0.9em;
  color: #666;
  margin: 8px 0;
  font-family: inherit;
}

.form input[type="checkbox"] {
  width: 13px;
  height: auto;
}

.form .quill {
  padding: 6px 0;
}

.form .quill .ql-container {
  height: calc(100% - 42px);
}

/**
* Full width
**/

.form .full-width {
  display: table;
  table-layout: fixed;
  width: 100%;
}

/**
* Half width
**/

.form .half-width {
  display: table;
  table-layout: fixed;
  width: 50%;
}

.form .half-width.left {
  float: left;
}

.form .half-width.right {
  float: right;
}

.form .right .label {
  text-align: right;
  padding-right: 12px;
  box-sizing: border-box;
}

/**
* Labels
**/

.form .row {
  display: table;
  margin: 15px 0;
  vertical-align: top;
}

.form h4 {
  display: table-cell;
}

.form .style-guide {
  display: table-cell;
}

/**
* Multiselect form
**/

.form .multiselect {
  width: 100%;
  height: 100%;
}

.form .multiselect .select-box {
  border-radius: 2px;
  white-space: nowrap;
  word-break: normal;
}

.form .multiselect select {
  border: none;
  font-size: 0.9em;
  padding-right: 33px;
  padding-left: 8px;
}

.form .multiselect select.custom-select {
  background: #efefef;
  background-image: url(/assets/images/caret.png);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 96%;
}

.form .multiselect.active .select-checkboxes {
  top: 36px;
  height: auto;
  background: #efefef;
  border-top: none;
  box-shadow: 0px 4px 5px 0px #888888;
  max-height: 400px;
  overflow: scroll;
}

.form .multiselect .select-checkboxes input[type="checkbox"] {
  margin-right: 8px;
}
