/**
* Form
**/

.form {
  text-align: center;
}

.form .form-content {
  width: 80%;
  padding: 50px;
  box-sizing: border-box;
  width: 780px;
  display: inline-block;
  text-align: left;
}

.form h1 {
  margin: 15px;
  text-align: center;
  font-weight: 600;
}

/**
* Tabs
**/

.form .form-tabs {
  display: inline-block;
  margin: 30px 0 15px;
}

.form .form-tab {
  border-bottom: 3px solid #efefef;
  box-sizing: border-box;
  display: inline-block;
  padding-bottom: 3px;
  cursor: pointer;
  font-weight: 600;
  color: #999;
}

.form .form-tab.left {
  text-align: left;
  width: 90px;
}

.form .form-tab.center {
  text-align: center;
  width: 170px;
}

.form .form-tab.right {
  text-align: right;
  width: 110px;
}

.form .form-tab.active {
  border-bottom: 3px solid #EDA138;
  color: #222;
}

/**
* Form buttons
**/

.form .save-button,
.form .delete-button {
  float: right;
  margin-top: 25px;
}

.form .delete-button {
  margin-right: 13px;
}

.form .save-button.unsaved-changes {
  opacity: 1;
}

.form .save-button.no-unsaved-changes {
  opacity: 0.5;
}