/**
* Form
**/

.form {
  text-align: center;
}

.form .form-content {
  width: 80%;
  padding: 50px;
  box-sizing: border-box;
  width: 780px;
  display: inline-block;
  text-align: left;
}

.form .form-content .missing {
  color: red;
  padding-left: 135px;
  padding-bottom: 12px;
}

.form .form-content .successful {
  color: green;
  padding-left: 135px;
  padding-bottom: 12px;
}

.form .form-content .saved-message {
  color: green;
  padding-top: 12px;
}

.form .form-content > a {
  display: block;
}

.form h1 {
  margin: 15px;
  text-align: center;
  font-weight: 600;
  transition: color 0.05s;
}

.form a:hover h1 {
  color: #eda138;
}

/**
* Tabs
**/

.form .form-tabs {
  display: inline-block;
  margin: 30px 0 15px;
}

.form .form-tab {
  border-bottom: 3px solid #efefef;
  box-sizing: border-box;
  display: inline-block;
  padding-bottom: 3px;
  cursor: pointer;
  font-weight: 600;
  color: #999;
}

.form .form-tab.left {
  text-align: left;
  width: 90px;
}

.form .form-tab.center {
  text-align: center;
  width: 170px;
}

.form .form-tab.right {
  text-align: right;
  width: 150px;
}

.form .form-tab.active {
  border-bottom: 3px solid #eda138;
  color: #222;
}

/**
* Form buttons
**/

.form .save-button,
.form .delete-button {
  float: right;
  margin-top: 25px;
}

.form .delete-button {
  margin-right: 13px;
}

.form .review-button {
  float: right;
}

.form .review-button-1 {
  margin-top: 16px;
  float: right;
}

.form .save-button.unsaved-changes {
  opacity: 1;
}

.form .save-button.no-unsaved-changes {
  opacity: 0.5;
}
