.header {
  height: 80px;
  width: 100%;
  background: #3C2818;
  position: fixed;
  top: 0;
  z-index: 1;
}

.header .logo-container {
  display: table;
  z-index: 0;
  height: 100%;
}

.header .logo {
  width: 300px;
  height: 60px;
  pointer-events: none;
}

.header .app-name {
  display: table-cell;
  vertical-align: middle;
  padding: 0 40px;
  font-size: 1.5em;
  color: #fff;
  font-family: Tinos;
  background: #3C2818;
  position: absolute;
  top: 13px;
  z-index: 1;
}

.header .links {
  display: table;
  position: absolute;
  right: 100px;
  top: 0;
  height: 80px;
  width: 484px;
  text-align: center;
}

.header .links a {
  color: #fff;
  display: table-cell;
  vertical-align: middle;
  font-family: Arial;
  width: 140px;
  letter-spacing: 1px;
}