/**
* Image grid
**/

.image-grid {
  width: 100%;
  height: 100%;
  margin: 25px 0 50px;
}

.image-grid .image-grid-content {
  display: table-cell;
  width: 100%;
  background: #efefef;
  padding: 7px 0px 2px 4px;
}

.image-grid .image-grid-item {
  width: 100px;
  height: 100px;
  display: inline-block;
  position: relative;
  margin: 0px 3px;
  background: gray;
}

.image-grid .grid-item {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.image-grid .grid-item-delete-button {
  position: absolute;
  top: 4px;
  right: 4px;
  width: 20px;
  height: 25px;
  background: #fff;
  z-index: 1;
  cursor: pointer;
  display: none;
}

.image-grid .image-grid-item:hover .grid-item-delete-button {
  display: block;
}

.image-grid .grid-item-delete-icon {
  width: 100%;
  height: 100%;
  background: url(/assets/images/ios-trash-icon.png);
  background-size: 19px 17px;
  background-repeat: no-repeat;
  background-position: 1px 4px;
}