/**
* main.css style
**/

* {
  margin: 0;
  padding: 0;
  word-break: break-word;
}

html {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Helvetica Neue', sans-serif;
  color: #444;
  font-weight: 400;
  font-size: 16px;
  min-height: 100%;
}

/**
* Fonts
**/

@font-face {
  font-family: 'SonderSans';
  src: url('/assets/fonts/sondersans-blackrough-webfont.eot') format('eot'),
       url('/assets/fonts/sondersans-blackrough-webfont.woff') format('woff'),
       url('/assets/fonts/sondersans-blackrough-webfont.woff2') format('woff2'),
       url('/assets/fonts/sondersans-blackrough-webfont.ttf') format('truetype'),
       url('/assets/fonts/sondersans-blackrough-webfont.svg') format('svg');
}

/**
* Containers
**/

.app-content {
  padding-top: 80px;
}

@media(max-width: 1150px) {
  .app-content {
    padding-top: 50px;
  }
}

.container {
  max-width: 900px;
  display: inline-block;
  text-align: left;
  padding: 30px 50px;
}

/**
* Text
**/

h1 {
  font-size: 1.6em;
}

h1, h2 {
  font-family: 'SonderSans';
  color: #4F6077;
  letter-spacing: 1px;
}

h3 {
  margin: 10px 0;
}

p {
  margin: 10px 0;
  line-height: 1.5em;
  word-break: break-word;
}

a {
  text-decoration: none;
}

/**
* Buttons
**/

.button {
  padding: 5px 20px;
  display: inline-block;
  background: #ddd;
  color: #666;
  border-radius: 4px;
  cursor: pointer;
}

.yellow-button {
  padding: 8px 40px;
  background: #EDA138;
  color: #fff;
  display: inline-block;
  border-radius: 4px;
  cursor: pointer;
}

.red-button {
  padding: 8px 30px;
  background: #ce4848;
  color: #fff;
  display: inline-block;
  border-radius: 4px;
  cursor: pointer;
}

.gray-button {
  border: 2px solid #bdbdbd;
  color: #bdbdbd;
  padding: 6px 30px;
  display: inline-block;
  border-radius: 4px;
  font-weight: 800;
  cursor: pointer;
}

.white-button {
  border: 2px solid #fff;
  color: #fff;
  padding: 6px 30px;
  display: inline-block;
  border-radius: 4px;
  font-weight: 800;
  cursor: pointer;
}

/**
* Images
**/

.background-image {
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/**
* Modals
**/

.dark-modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.6);
  z-index: 11;
  height: auto;
  overflow: auto;
}

.modal .header {
  color: #fff;
  box-sizing: border-box;
  height: 50px;
  background-color: transparent;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  top: 0;
}

.modal .header .modal-header-text {
  display: inline-block;
  height: 50px;
  overflow: hidden;
  margin-right: 4px;
  padding: 14px;
  box-sizing: border-box;
  background: #4F6077;
  text-align: center;
  cursor: pointer;
  font-size: 1em;
}

.modal .header .modal-header-text.brand {
  font-family: 'SonderSans';
  text-align: left;
  font-size: 1.6em;
  padding-left: 27px;
  letter-spacing: 1px;
}

.modal .header .close-text {
  height: 50px;
  width: 110px;
  margin-right: 0;
  max-height: 100%;
  padding-top:16px;
  display: inline-block;
}

.modal .header .close-text .close-icon {
  margin-right: 3px;
  display: inline-block;
  font-size: 20px;
  vertical-align: top;
  height: 20px;
  overflow: hidden;
  margin-top: -2px;
  font-weight: 100;
}

.modal .body {
  background: #fff;
  margin-top: 54px;
  padding: 50px;
  box-sizing: border-box;
}

@media(max-width: 900px) {
  .modal .header .modal-header-text.brand {
    display: none;
  }

  .modal .header .close-text {
    width: 100%;
  }

  .modal .body {
    padding: 20px;
  }
}

/**
* Global form styles
**/

.custom-select {
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: transparent;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.custom-select::-ms-expand {
  display: none;
}

.custom-textarea {
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
}

/**
* Clearfix
**/

.clear-both {
  clear: both;
}

/**
* Show/hide
**/

.hidden {
  display: none;
}