/**
* Marker overlay styles
**/

.marker-overlay {
  padding: 15px 15px 10px;
  background: #fff;
  height: auto;
  width: 280px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.marker-overlay .building-title {
  font-size: 15px;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 0;
  color: #5a5a5a;
  font-family: 'Helvetica Neue', sans-serif;
  letter-spacing: .25px;
}

.marker-overlay .building-image {
  height: 200px;
}