/**
* Multiselect
**/

.multiselect {
  cursor: pointer;
  position: relative;
}

.multiselect .select-decoy {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.multiselect .select-checkboxes {
  position: absolute;
  left: 0;
  width: auto;
  z-index: 1;
  overflow: auto;
  height: 0px;
}

.multiselect.active .select-checkboxes {
  height: auto;
  background: #fff;
}

.multiselect label {
  white-space: nowrap;
  display: block;
  margin: 10px 14px;
}

/**
* Add new option input field
**/

.add-new-option {
  border-top: 1px solid #aaa;
}

.multiselect .add-new-option img {
  width: 16px;
  bottom: 12px;
  left: 10px;
  padding: 10px 9px;
  float: left;
}

.multiselect .add-new-option input {
  margin: 0;
  width: 140px;
  display: inline-block;
  padding: 3px 6px 5px 6px;
  box-sizing: content-box;
}