/**
* Search
**/

.search {
  background: #eee
}

.search .cards {
  width: 25%;
  position: fixed;
  height: auto;
  left: 0;
  top: 140px;
  right: 75%;
  bottom: 80px;
  min-width: 300px;
  z-index: 2;
}

.search .map {
  width: 75%;
  position: fixed;
  height: auto;
  right: 0;
  top: 140px;
  bottom: 80px;
  left: 25%;
}