/**
* Search
**/

.search {
  background: #eee
}

.search .cards {
  width: 50%;
  height: auto;
  position: fixed;
  left: 0;
  top: 140px;
  right: 50%;
  bottom: 80px;
}

.search .map {
  width: 50%;
  position: fixed;
  height: auto;
  right: 0;
  top: 140px;
  bottom: 80px;
  left: 50%;
}