.search .cards {
  width: 50%;
  position: absolute;
  top: 140px;
  bottom: 80px;
  left: 0;
  height: auto;
  box-sizing: border-box;
}

.search .map {
  position: absolute;
  top: 140px;
  bottom: 80px;
  height: auto;
  width: 50%;
  right: 0;
}