/**
* Simple Pages
**/

.simple-page {
  text-align: center;
}

.simple-page .hero {
  height: 300px;
  width: 100%;
}

.simple-page .title {
  padding: 20px 0 20px;
  text-align: center;
}

.terms {
  width: 900px;
  margin: auto;
  padding: 40px 0px 50px 0px;
  text-align: center;
  font-weight: bold;
}

.terms a:link {
  color:#4F6077;
}

.terms a:visited {
  color:#4F6077;
}

.body-text .term {
  font-size: 24px;
  margin-bottom: 8px;
}

.body-text .definition {
  width: 820px;
  margin-bottom: 24px;
}

.glossary-divider {
  border-bottom: 2px solid #aaa;
  width: 820px;
  margin: 24px 0 24px 0;
}